@page "/NnMgmtAuthorization"
@using Microsoft.Extensions.Localization
@using global::Necnat.Abp.NnMgmtAuthorization.Localization
@inject IStringLocalizer<NnMgmtAuthorizationResource> L
@{
}
<h1>NnMgmtAuthorization</h1>
<p>@L["SamplePageMessage"]</p>