@page
@using Microsoft.Extensions.Localization
@using Necnat.Abp.NnMgmtAuthorization.Localization
@using Necnat.Abp.NnMgmtAuthorization.Web.Pages.NnMgmtAuthorization
@model Necnat.Abp.NnMgmtAuthorization.Web.Pages.NnMgmtAuthorization.IndexModel
@inject IStringLocalizer<NnMgmtAuthorizationResource> L

@{
}
<h1>NnMgmtAuthorization</h1>
<p>@L["SamplePageMessage"]</p>
